DB_NAME=online_shop
DB_USERNAME=online_shop
DB_PASSWORD=online_shop
DB_URL=jdbc:postgresql://postgres:5432/online_shop
SERVER_PORT=8080
DEMO_ADMIN_PASSWORD=admin123
DEMO_CUSTOMER_PASSWORD=customer123
TRACKING_DELAY_MS=1200
